fastapi
uvicorn
pymongo
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.1.3
python-multipart
cryptography
qrcode
pillow
pycryptodome
email-validator
fpdf
PyPDF2
requests
python-dotenv
reportlab
opencv-python-headless